<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @product.rating %>
</p>

<p>

  
  <img src=<%= @product.imageUrl %> alt="Girl in a jacket" width="200" height="200">

</p>

<%= link_to 'Back', products_path %>
 